#ignore pyenv
.venv
src/.env
src/logs/
src/error_list.txt
sat upload logs.txt
src/refresh-mind.py
src/.DS_Store
src/__pycache__/e1_helper.cpython-310.pyc
src/extractor/__pycache__/
src/extractor/__pycache__
src/extractor/__pycache__/e1_helper.cpython-310.pyc
tests/extractor/__pycache__/
__pycache__/
