#ignore pyenv
.venv
src/.env
src/logs/
src/error_list.txt
sat upload logs.txt
src/refresh-mind.py
src/.DS_Store
src/__pycache__/e1_helper.cpython-310.pyc
src/extractor/__pycache__/
src/extractor/__pycache__
src/extractor/__pycache__/e1_helper.cpython-310.pyc
tests/extractor/__pycache__/
__pycache__/
src/t1/__pycache__/t1_helper.cpython-310.pyc
src/t1/__pycache__
src/date_table.csv
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate.backup
terraform/terraform.tfstate

